<div class="container mt-5">
  <button (click)="get500Error()" class="btn btn-outline-primary mr-3">500 error</button>
  <button (click)="get404Error()" class="btn btn-outline-primary mr-3">404 error</button>
  <button (click)="get500Error()" class="btn btn-outline-primary mr-3">400 error</button>
  <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">400 Validation error</button>
  <div class="row mt-5" *ngIf="validationError">
    <p>{{validationError}}</p>
  </div>
</div>
