<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row" formGroupName="deliveryForm">
    <div class="col-6 form-group" *ngFor="let methods of deliveryMethods">
      <input type="radio" id="{{methods.id}}" value="{{methods.id}}" formControlName="deliveryMethod" class="custom-control-input">
      <label for="{{methods.id}}" class="custom-control-label"></label>
      <strong>{{methods.shortName}} - {{methods.price|currency}}</strong>
      <br>
      <span class="label-description">{{methods.description}}</span>
    </div>
  </div>
</div>


<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to Adress
  </button>
  <button class="btn btn-primary" cdkStepperNext>
    Next to Review <i class="fa fa-angle-right"></i>
  </button>
</div>

